.footer {
    background-color: var(--container-color);
    border-top: 1px solid rgba(0,0,0,0.1);
}
.footer__container {
    padding: 2rem 0 6rem;
    row-space: 1rem;
}
.footer__title,
.footer__link {
    color: var(--title-color);
}
.footer__title{
    text-align: center;
   
}
.footer__link:hover {
    color: var(--title-color-dark);
}
.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    color: var(--title-color-dark);
    font-size: var(--small-font-size);
}
.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 0.25rem;
    font-size: var(--large-font-size);
}
.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
}
@media screen and (max-width: 992px) {
    
}